//local archives and bootstrap(icons and styles)
@import url(./normalize.scss);
@import url(./colors.scss);
@import url(./styles.scss);

.hidden {
    display: none;
}

.slide-out-left {
    animation: slideOutLeft 0.5s forwards;
}

.slide-in-right {
    animation: slideInRight 0.5s forwards;
}

@keyframes slideOutLeft {
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-out-right {
    animation: slideOutRight 0.5s forwards;
}

.slide-in-left {
    animation: slideInLeft 0.5s forwards;
}

@keyframes slideOutRight {
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.bandPhoto{
    min-width: 320px;
    min-height: 320px;
    object-position: bottom;
    max-width: 320px;
    max-height: 320px;
}