@import url(./normalize.scss);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

$primary: #02B2b0;

// $azulito: #0FC2C0;

// $theme-colors:(
//     "lightest": $azulito
// );
@import "bootstrap/scss/bootstrap";
:root{
    --bckgrnd:#212529;
}

body{
    background-color: var(--bckgrnd);
    
}
