@import url(./styles.scss);


// giving styles to main
.main-genero, .main-artistas {
    padding-top: 3rem;
    padding-bottom: 2rem;
}



.genre-background, .artistas-background {
    background-image: url("../../public/img/genero_background.webp");
    background-attachment: scroll;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}


// givinmg margin to categories section
 .genres-music {
    margin-bottom: 2vh;
 }


 // giving properties to the circle (the container) where is every categorie image
.circle-img-container {
    width: 40vh;
    height: 40vh;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 1rem auto;
    border: 2px solid var(--white-color);
    position: relative;
    transition: 0.5s ease;
}


// creating image container with a specific aspect ratio. 
.circle-img-container::before {
    content: ""; 
    display: block;
    padding-top: 100%;
}


// giving the dinamycs of the image container
.circle-img-container:hover {
    border: 4px solid var(--color-thre);
    box-shadow: 10px 5px 5px var(--color-five);
    transform: scale(1.15);
}

// styles of the image
.circle-img-container img {
    width: 100%;
    height: 100%;
    object-position: cover; 
    position: absolute;
    top: 0;
    left: 0;
    opacity: 92%;
    transition: opacity 0.5s ease;
    transition: transform 0.3s ease;
}


// giving hoover to the image inside de circle
.circle-img-container:hover img {
    opacity: 100%;
    transform: scale(0.98);
}

// propierties of the caption of every container
.image-caption {
    display: block;
    font-size: 1.9rem;
    font-weight: bold;
    text-decoration: none;
    font-family: "Playfair Display", serif;
    color: var( --color-five);
}


.image-caption:hover {
    text-decoration: none;
}

// giving properties to the card where is the preliminar info of every artist per categorie
.custom-card {
    width: 500px;
    height: 300px;
    overflow: hidden;
  }



  //giving styles to the image of every artist, ensuring that it cover the card espace
.custom-img {
    width: 100%;
    height: 150px; 
    object-fit: cover; 
    transition: 0.3s;
}


// giving format to the biography inside the preliminar view
.biografia-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show*/
    -webkit-box-orient: vertical;
    height: 2.6em; /* ajust the height according to the number of lines */
    white-space: normal;
}

// giving hover interaction effect
.custom-card:hover {
    border: 4px solid var(--color-thre);
    box-shadow: 10px 5px 5px var(--color-five);
    transform: scale(1.05);
}

// giving propierties for the artist profile image
#artist-image {
    height: 25vh;
    object-fit: cover;
}


// giving style properties for the artist profile name
#artist-name {
    background: rgba(0, 0, 0, 0.5);
    margin: 0;
}

// giving back ground to the artist profile
.main-artist {
    background-color: var(--gray);
}

.artist-background {
    color: var(--white-color)
}

.artist {
    text-decoration: none;
}

.footer{
    color:var(--white-color);
    font-size: 1em;
  }

  .footer a span{
    color: var(--white-color);
  }

// giving responsive properties
@media (max-width:400px){

    .artistas-background {
        background-image: none;
        background-color: var(--gray) !important;
    }

    .artist {
        width: 80vh;
    }

    .custom-card {
        width: 80vh;
        height: 300px;
        overflow: hidden;
    }

    .custom-img {
        width: 100%;
        height: 150px; 
        object-fit: cover; 
        transition: 0.3s;
        text-align: center;
    }

    iframe {
        width:350px;
        height:auto;
    }

    .logo{
        width: 4.5em;
        margin-top: 1em;
    }
}